.detail-card {
  width: 1440px;
  background-color: #fff;
  padding-bottom: 60px;
}

.detail-card p {
  margin: 0;
  padding: 0;
}

.details-title {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  height: fit-content;
  padding-bottom: 8px;
}

.details-gallery {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.details-gallery img {
  object-fit: cover;
  height: 312px;
  width: 292px;
  border-radius: 10px;
  transition: scale 200ms;
}

.details-gallery img:hover {
  scale: 1.02 1.02;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 #808080;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
}

.info p {
  margin: 0;
  padding: 0;
}

.info button {
  width: 166px;
}

.price {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.details-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  fill: #ffc531;
  padding-bottom: 16px;
}

.details-location {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  fill: #101828;
}

.descripton {
  width: 525px;
  color: #475467;
}

.descripton p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
