.detail-card {
  /* display: flex; */
  /* flex-direction: row; */
  /* border: 1px solid #dadde1; */
  /* border-radius: 20px; */
  width: 1440px;
  /* height: 368px; */
  background-color: #fff;
  padding: 64px;
}

.details-title {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  height: fit-content;
}

.details-gallery {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.details-gallery img {
  object-fit: cover;
  /* height: 100%; */
  height: 312px;
  width: 292px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  padding-left: 24px;
}

.info p {
  margin: 0;
  padding: 0;
}

.info button {
  width: 166px;
}

.price {
  display: flex;
  gap: 12px;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  /* padding-bottom: 24px; */
}

.details-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  fill: #ffc531;
}

.details-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.descripton {
  width: 525px;
  color: #475467;
  /* padding-bottom: 24px; */
}

.descripton p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
