.bages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  /* overflow: hidden; */
}

.bage-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* fill: none; */
  /* stroke: black; */
  border-radius: 100px;
  padding: 12px 18px;
  min-width: 87px;
  height: 48px;
  background: #f2f4f7;
}

.features {
  /* padding-bottom: 24px; */
}
