.filter-block {
  width: 488px;
  padding: 0 64px;
  margin: 0;
}

.filter-p {
  font-weight: 500;
  font-size: 16px;
  color: #475467;
  margin-bottom: 32px;
}

.filter-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}

.filter-location {
  height: 88px;
  margin-bottom: 40px;
  border-radius: 12px;
  background: #f7f7f7;
  /* border: 1px solid #dadde1; */
  /* padding: 18px 218px 18px 20px;
width: 360px;
height: 56px; */
}

.location-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 8px;
}

.filter-equipment {
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  /* height: 272px; */
  font-weight: 600;
  margin-bottom: 32px;
  /* background: #f7f7f7; */
  /* border: 1px solid #dadde1; */
}

.filter-type {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  /* height: 168px; */
  margin-bottom: 40px;
  /* background: #f7f7f7; */
  /* border: 1px solid #dadde1; */
}

.filter-block hr {
  margin-bottom: 24px;
  padding: 0;
  /* color: #dadde1; */
  border: 1px solid #dadde1;
}
