.icons {
  display: flex;
  margin: 200px;
  gap: 24px;
}

.icons svg {
  /* color: blue; */
  stroke: none;
  /* stroke: #101828; */
  /* stroke-width: 1; */
  /* fill: #101828; */
  /* fill: none; */
  width: 40px;
  height: 40px;
}
